.vote-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vote-text {
    padding-left: 10px;
    font-size: 16px;
    line-height: 34px;
    color: var(--royalBlue);
}

.vote-image {
    width: 30px;
}
