<div
  data-bsi-element="house-view-button-text"
  class="button-result-wrapper house-view-vote-item-text btn-white-bcg"
>
  <p
    class="button-vote-result"
    data-bsi-element-part="plain-text"
  >
    {{ _text ? : 'Button Text {result}' }}
  </p>
</div>
