.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input[type="file"] {
  display: none;
}

.input-container label {
  display: block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.input-container label:hover {
  background-color: #0056b3;
}

.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
