<div
  data-bsi-element="house-view-button"
  class="house-view-vote-item"
>
  <a
    class="button-vote"
    data-bsi-element-part="link"
    href="https://www.example.com"
  >
    {{ _text ? : 'Button Text {vote}' }}
  </a>
</div>
